* {
    margin: 0;
    padding: 0;
}

.maincontainernv {
    background-color: cornflowerblue;
    height: 9vh;
}

.itemcontainer {
    display: inline-block;
    width: 90vw;
}

.titlenv {
    display: inline-block;
}

.navcontent {

    list-style: none;
    margin-right: 5vw;
}

.navcontend {
    list-style: none;
}

.navitems {
    display: flex;
    flex-direction: row-reverse;
}

.button {
    background-color: cornflowerblue;
    border: 0px;
    height: 9vh;
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
}

#title {
    padding-left: 1vw;
    background-color: cornflowerblue;
    width: 5vw;
    height: 6vh;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#body {
    background-image: url("Extentions/Images/8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/* Log In */
.maincontainer {
    margin: auto;
    background-color: none
        /*rgb(223, 223, 223)*/
    ;
    height: auto;
    width: 90vw;
    min-height: 265px;
    position: relative;
    margin-top: 15vh;
    border: 5px solid black;
    border-radius: 25px;
}

.titlecontainer {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', serif;
}

.title {
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    border: 5px solid black;
    border-radius: 20px;
}

.formcontainer {
    width: 110px;
    box-sizing: border-box;
    position: relative;
    left: 10%;
    align-content: center;
}

.input {
    padding-left: 10px;
    height: 10vh;
    width: 70vw;
    border: 4px solid black;
    border-radius: 30px;
    background-color: rgb(160, 160, 160);
    font-size: 3vh;
    font-family: 'Edu QLD Beginner', cursive;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit_button {
    width: 45%;
    font-size: 25px;
    background-color: cornflowerblue;
    border: 6px solid blue;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Cormorant SC', serif;
    /* font-family: 'Edu QLD Beginner', cursive; */
    /* font-family: 'Oswald', sans-serif; */
}

@media (max-width:576px) {
    #body {
        background-size: 400%;
    }

}

#invisble {
    visibility: hidden;
}